flow.json
[
    {
        "id": "2f5fe38677691ef5",
        "type": "tab",
        "label": "Loyalty Programs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "788f5c6dd1a16320",
        "type": "subflow",
        "name": "ksqlDB Query (CURL)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "3898f6d4db07e823"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1100,
                "y": 40,
                "wires": [
                    {
                        "id": "d4d52388ccd8cc6a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1090,
                "y": 120,
                "wires": [
                    {
                        "id": "356406be7272df45",
                        "port": 0
                    }
                ]
            },
            {
                "x": 550,
                "y": 140,
                "wires": [
                    {
                        "id": "e515f7547a66e244",
                        "port": 1
                    }
                ]
            },
            {
                "x": 570,
                "y": 200,
                "wires": [
                    {
                        "id": "e515f7547a66e244",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "resultset",
            "header",
            "stderr",
            "return code"
        ],
        "icon": "font-awesome/fa-database",
        "status": {
            "x": 500,
            "y": 260,
            "wires": [
                {
                    "id": "e515f7547a66e244",
                    "port": 0
                },
                {
                    "id": "e515f7547a66e244",
                    "port": 2
                }
            ]
        }
    },
    {
        "id": "b5f2ce16d84d7dda",
        "type": "subflow",
        "name": "ksqlDB Query (HTTP)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "e159d9ff8487d2dd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 60,
                "wires": [
                    {
                        "id": "65c5bdc03b765e84",
                        "port": 0
                    }
                ]
            },
            {
                "x": 870,
                "y": 140,
                "wires": [
                    {
                        "id": "5d7061fa7583cd96",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "resultset",
            "header"
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "452de55455f4a56c",
        "type": "ui_spacer",
        "z": "2f5fe38677691ef5",
        "name": "spacer",
        "group": "69f7632edb1a2651",
        "order": 4,
        "width": "1",
        "height": "1"
    },
    {
        "id": "69f7632edb1a2651",
        "type": "ui_group",
        "name": "Buy Something",
        "tab": "0b847fb3d37f09fe",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "800c148c15793939",
        "type": "kafkajs-client",
        "name": "cc_azure",
        "brokers": "${ENV_CC_BOOTSTRAP}",
        "clientid": "purchase-producer-001",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": true,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "sasl",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    },
    {
        "id": "4a9750d76458eeff",
        "type": "ui_group",
        "name": "Member Reward",
        "tab": "0b847fb3d37f09fe",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5bafb853165113e1",
        "type": "ui_group",
        "name": "Caffeine Index",
        "tab": "0b847fb3d37f09fe",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "141e6c203a344dec",
        "type": "ui_group",
        "name": "Sales Totals",
        "tab": "0b847fb3d37f09fe",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b847fb3d37f09fe",
        "type": "ui_tab",
        "name": "Loyalty Program",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "44ae94713e178cc6",
        "type": "kafkajs-client",
        "name": "Local",
        "brokers": "broker:9092",
        "clientid": "nodered-producer-02",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": false,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    },
    {
        "id": "171ee22436f655f9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e515f7547a66e244",
        "type": "exec",
        "z": "788f5c6dd1a16320",
        "command": "curl --silent --no-buffer -X POST -d",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "push query",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "b15b4a670363428d"
            ],
            [],
            []
        ],
        "icon": "font-awesome/fa-play"
    },
    {
        "id": "b15b4a670363428d",
        "type": "split",
        "z": "788f5c6dd1a16320",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "2f730ea017a25435"
            ]
        ]
    },
    {
        "id": "2f730ea017a25435",
        "type": "json",
        "z": "788f5c6dd1a16320",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "7445c93ec6bc4df5"
            ]
        ]
    },
    {
        "id": "7445c93ec6bc4df5",
        "type": "switch",
        "z": "788f5c6dd1a16320",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "d4d52388ccd8cc6a"
            ],
            [
                "356406be7272df45"
            ]
        ]
    },
    {
        "id": "3898f6d4db07e823",
        "type": "change",
        "z": "788f5c6dd1a16320",
        "name": "query payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload & ' ' & msg.url",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "e515f7547a66e244"
            ]
        ]
    },
    {
        "id": "d4d52388ccd8cc6a",
        "type": "function",
        "z": "788f5c6dd1a16320",
        "name": "resultset",
        "func": "var keys = flow.get(msg.queryName).columnNames;\nvar values = msg.payload\n\nmsg.payload = Object.fromEntries(keys.map((k, i) => [k, values[i]]));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "356406be7272df45",
        "type": "function",
        "z": "788f5c6dd1a16320",
        "name": "header",
        "func": "//var queryName = msg.queryName;\nflow.set(msg.queryName, msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "546661076e75c42a",
        "type": "change",
        "z": "788f5c6dd1a16320",
        "name": "header",
        "rules": [
            {
                "t": "set",
                "p": "{{queryName}}",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "57e2ac81bd42fe3e",
        "type": "comment",
        "z": "788f5c6dd1a16320",
        "name": "backup",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "e159d9ff8487d2dd",
        "type": "http request",
        "z": "b5f2ce16d84d7dda",
        "name": "push query",
        "method": "POST",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 190,
        "y": 100,
        "wires": [
            [
                "914985e77a34180f"
            ]
        ]
    },
    {
        "id": "914985e77a34180f",
        "type": "split",
        "z": "b5f2ce16d84d7dda",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "8be8d80ee67fd10c"
            ]
        ]
    },
    {
        "id": "8be8d80ee67fd10c",
        "type": "json",
        "z": "b5f2ce16d84d7dda",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "48138b95fb585061"
            ]
        ]
    },
    {
        "id": "48138b95fb585061",
        "type": "switch",
        "z": "b5f2ce16d84d7dda",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "65c5bdc03b765e84"
            ],
            [
                "5d7061fa7583cd96"
            ]
        ]
    },
    {
        "id": "65c5bdc03b765e84",
        "type": "function",
        "z": "b5f2ce16d84d7dda",
        "name": "resultset",
        "func": "var keys = flow.get(msg.queryName).columnNames;\nvar values = msg.payload\n\nmsg.payload = Object.fromEntries(keys.map((k, i) => [k, values[i]]));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5d7061fa7583cd96",
        "type": "function",
        "z": "b5f2ce16d84d7dda",
        "name": "header",
        "func": "//var queryName = msg.queryName;\nflow.set(msg.queryName, msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "37d9292d404c7697",
        "type": "subflow:b5f2ce16d84d7dda",
        "z": "2f5fe38677691ef5",
        "name": "",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "1ef7b3ef2b19770f"
            ],
            []
        ]
    },
    {
        "id": "7e4e78b185e381f8",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Users",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "queryName",
                "v": "users",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://ksqldb-server:8088/query-stream",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sql\":\"select * from users;\",\"properties\":{\"ksql.streams.auto.offset.reset\":\"earliest\"}}",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "37d9292d404c7697"
            ]
        ]
    },
    {
        "id": "113367ab73adbb13",
        "type": "subflow:b5f2ce16d84d7dda",
        "z": "2f5fe38677691ef5",
        "name": "",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "7743492d10ec17ad"
            ],
            []
        ]
    },
    {
        "id": "8bc1d51dee02b57a",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Products",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "queryName",
                "v": "products",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://ksqldb-server:8088/query-stream",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sql\":\"select * from products;\",\"properties\":{\"ksql.streams.auto.offset.reset\":\"earliest\"}}",
        "payloadType": "str",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "113367ab73adbb13"
            ]
        ]
    },
    {
        "id": "63e46fd80cfe1c8a",
        "type": "ui_dropdown",
        "z": "2f5fe38677691ef5",
        "name": "",
        "label": "User",
        "tooltip": "",
        "place": "Select option",
        "group": "69f7632edb1a2651",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "ddcb96c7ecf5cb2b"
            ]
        ]
    },
    {
        "id": "1ef7b3ef2b19770f",
        "type": "function",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "func": "var users = flow.get('users') || [];\nusers.push(msg.payload.NAME);\nflow.set('users', users);\nmsg.options = users;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('users',[])",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "63e46fd80cfe1c8a"
            ]
        ]
    },
    {
        "id": "7743492d10ec17ad",
        "type": "function",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "func": "var products = flow.get('products') || [];\nproducts.push(msg.payload.PRODUCT_ID);\nflow.set('products', products);\nmsg.options = products;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('products', [])",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "ec2597d05efaa7b8"
            ]
        ]
    },
    {
        "id": "ec2597d05efaa7b8",
        "type": "ui_dropdown",
        "z": "2f5fe38677691ef5",
        "name": "",
        "label": "Products",
        "tooltip": "",
        "place": "Select option",
        "group": "69f7632edb1a2651",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 720,
        "y": 160,
        "wires": [
            [
                "fa117561262d593a"
            ]
        ]
    },
    {
        "id": "7a1ba88bb9fef03b",
        "type": "kafkajs-producer",
        "z": "2f5fe38677691ef5",
        "d": true,
        "name": "Topic: purchases",
        "client": "44ae94713e178cc6",
        "topic": "purchases",
        "advancedoptions": true,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "b4ea10a33368cc15",
        "type": "ui_button",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "69f7632edb1a2651",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Single Purchase",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "3312eaa7cb9b7dc0"
            ]
        ]
    },
    {
        "id": "ddcb96c7ecf5cb2b",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Save Selected User",
        "rules": [
            {
                "t": "set",
                "p": "user-selected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3312eaa7cb9b7dc0",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "user-selected",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "product-selected",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 440,
        "wires": [
            [
                "80ed442b842f75fe"
            ]
        ]
    },
    {
        "id": "5ed9eddfc32d9504",
        "type": "ui_chart",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "4a9750d76458eeff",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Reward Level",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "97add0626c5f1236",
        "type": "subflow:788f5c6dd1a16320",
        "z": "2f5fe38677691ef5",
        "name": "",
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "3167fbc986b1857d"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "abe54e961df88e5f",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Reward Level",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://ksqldb-server:8088/query-stream",
                "vt": "str"
            },
            {
                "p": "queryName",
                "v": "rewardLevel",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sql\":\"select count(user_id) as USER_COUNT, reward_level from sales_totals group by reward_level emit changes;\",\"properties\":{\"ksql.streams.auto.offset.reset\":\"earliest\"}}",
        "payloadType": "str",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "97add0626c5f1236"
            ]
        ]
    },
    {
        "id": "20cfeffcbb8c9fc3",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Stop",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "97add0626c5f1236"
            ]
        ]
    },
    {
        "id": "3167fbc986b1857d",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "payload.REWARD_LEVEL",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.USER_COUNT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1440,
        "wires": [
            [
                "5ed9eddfc32d9504"
            ]
        ]
    },
    {
        "id": "bf1d7ada4968f7dc",
        "type": "random-item",
        "z": "2f5fe38677691ef5",
        "name": "user",
        "input": "users",
        "inputType": "flow",
        "output": "payload",
        "outputType": "msg",
        "number": 1,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "9d209267c2dedfcb"
            ]
        ]
    },
    {
        "id": "5af2428bd7e7928b",
        "type": "random-item",
        "z": "2f5fe38677691ef5",
        "name": "product",
        "input": "products",
        "inputType": "flow",
        "output": "payload",
        "outputType": "msg",
        "number": 1,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "d08bdaa07be43310"
            ]
        ]
    },
    {
        "id": "501819197b5700dc",
        "type": "join",
        "z": "2f5fe38677691ef5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "c4ef989817afdb1f",
                "523018e66c11f3ab"
            ]
        ]
    },
    {
        "id": "571c4a86533ffbc0",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Random Purchase",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "bf1d7ada4968f7dc",
                "5af2428bd7e7928b"
            ]
        ]
    },
    {
        "id": "9d209267c2dedfcb",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "501819197b5700dc"
            ]
        ]
    },
    {
        "id": "d08bdaa07be43310",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "product",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "501819197b5700dc"
            ]
        ]
    },
    {
        "id": "352d0ffc90b9c5f9",
        "type": "ui_audio",
        "z": "2f5fe38677691ef5",
        "name": "Say it in Cantonese",
        "group": "5bafb853165113e1",
        "voice": "Google 粤語（香港）",
        "always": true,
        "x": 1130,
        "y": 900,
        "wires": []
    },
    {
        "id": "0771b9bb0c43a674",
        "type": "subflow:788f5c6dd1a16320",
        "z": "2f5fe38677691ef5",
        "name": "",
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "06827baa2ede234d",
                "3a88de40a716d155"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "bae6db872e1ebc29",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Caffeine Index",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://ksqldb-server:8088/query-stream",
                "vt": "str"
            },
            {
                "p": "queryName",
                "v": "caffeineIndex",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sql\":\"select * from caffeine_index emit changes;\",\"properties\":{\"ksql.streams.auto.offset.reset\":\"latest\"}}",
        "payloadType": "str",
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "0771b9bb0c43a674"
            ]
        ]
    },
    {
        "id": "06827baa2ede234d",
        "type": "switch",
        "z": "2f5fe38677691ef5",
        "name": "on 5th visit",
        "property": "payload.NEXT_ONE_FREE",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "ccda48f4d0b15be9"
            ]
        ]
    },
    {
        "id": "8d046b5bc182aee0",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Stop",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "0771b9bb0c43a674"
            ]
        ]
    },
    {
        "id": "8ee094fdf4137d4f",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Leo",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d1ecf2d1a579cf30",
        "type": "switch",
        "z": "2f5fe38677691ef5",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "kris",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dave",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yeva",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rick",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "leo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "alan",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "maria",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "simon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ken",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "jeff",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 10,
        "x": 770,
        "y": 1200,
        "wires": [
            [
                "d65f1f483e1ac06b"
            ],
            [
                "0016623c2be67c92"
            ],
            [
                "febd29195dfa9130"
            ],
            [
                "185f705b21b4a19f"
            ],
            [
                "8ee094fdf4137d4f"
            ],
            [
                "f52452d730b9253d"
            ],
            [
                "52bcd7305ca9ce28"
            ],
            [
                "332f626fcf991daf"
            ],
            [
                "9757f70fe549d9e6"
            ],
            [
                "eb890bd02e8dd1a2"
            ]
        ]
    },
    {
        "id": "3a88de40a716d155",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.USER_ID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SEQUENCE",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1200,
        "wires": [
            [
                "d1ecf2d1a579cf30"
            ]
        ]
    },
    {
        "id": "d65f1f483e1ac06b",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 8,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Kris",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0016623c2be67c92",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 9,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Dave",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1060,
        "wires": []
    },
    {
        "id": "febd29195dfa9130",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 11,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Yeva",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1100,
        "wires": []
    },
    {
        "id": "185f705b21b4a19f",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 10,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Rick",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f52452d730b9253d",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Alan",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1220,
        "wires": []
    },
    {
        "id": "52bcd7305ca9ce28",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Maria",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1260,
        "wires": []
    },
    {
        "id": "332f626fcf991daf",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 5,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Simon",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1300,
        "wires": []
    },
    {
        "id": "9757f70fe549d9e6",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 6,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Ken",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1340,
        "wires": []
    },
    {
        "id": "eb890bd02e8dd1a2",
        "type": "ui_gauge",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "order": 7,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Jeff",
        "label": "Visit",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff4c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 1380,
        "wires": []
    },
    {
        "id": "455b3310a4be2e90",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Simulate Purchase",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "c4ef989817afdb1f",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "payload.user",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"PRODUCT_ID\":  payload.product }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 360,
        "wires": [
            [
                "397eaab73f7fc3b6"
            ]
        ]
    },
    {
        "id": "397eaab73f7fc3b6",
        "type": "json",
        "z": "2f5fe38677691ef5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "7a1ba88bb9fef03b"
            ]
        ]
    },
    {
        "id": "ccda48f4d0b15be9",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Thank you \" & payload.USER_ID & \" \" & $flowContext('coffeeMsg')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "coffeeMsgLang",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 940,
        "wires": [
            [
                "e1a32e4deacbed5f"
            ]
        ]
    },
    {
        "id": "fa117561262d593a",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Save Selected Product",
        "rules": [
            {
                "t": "set",
                "p": "product-selected",
                "pt": "flow",
                "to": "{\"PRODUCT_ID\": payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "80ed442b842f75fe",
        "type": "json",
        "z": "2f5fe38677691ef5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "7a1ba88bb9fef03b"
            ]
        ]
    },
    {
        "id": "1614e03d792d16fa",
        "type": "switch",
        "z": "2f5fe38677691ef5",
        "name": "",
        "property": "coffeeRun",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "bf1d7ada4968f7dc",
                "a84f5d96797ebfc0"
            ]
        ]
    },
    {
        "id": "e4ec759d9596079b",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Coffee Demo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "1614e03d792d16fa"
            ]
        ]
    },
    {
        "id": "19e033aab5cc7ca6",
        "type": "ui_switch",
        "z": "2f5fe38677691ef5",
        "name": "",
        "label": "Let's Buy Coffee",
        "tooltip": "",
        "group": "5bafb853165113e1",
        "order": 12,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "coffeeRun",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "c6e74f58e3391f82"
            ]
        ]
    },
    {
        "id": "c6e74f58e3391f82",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "coffeeRun",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8c954ad6e2287a3c",
        "type": "ui_text_input",
        "z": "2f5fe38677691ef5",
        "name": "",
        "label": "Type Your Message",
        "tooltip": "",
        "group": "5bafb853165113e1",
        "order": 15,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "97da1cabef9d39e3"
            ]
        ]
    },
    {
        "id": "97da1cabef9d39e3",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "coffeeMsg",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a84f5d96797ebfc0",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Set Product to Coffee",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "coffee",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "d08bdaa07be43310"
            ]
        ]
    },
    {
        "id": "7c543fc4b7404b6e",
        "type": "subflow:788f5c6dd1a16320",
        "z": "2f5fe38677691ef5",
        "name": "",
        "x": 380,
        "y": 1680,
        "wires": [
            [
                "470d00450056a0c0"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "f610a72adcae3f2e",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Sales Totals",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://ksqldb-server:8088/query-stream",
                "vt": "str"
            },
            {
                "p": "queryName",
                "v": "salesTotals",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sql\":\"select * from sales_totals emit changes;\",\"properties\":{\"ksql.streams.auto.offset.reset\":\"earliest\"}}",
        "payloadType": "str",
        "x": 150,
        "y": 1680,
        "wires": [
            [
                "7c543fc4b7404b6e"
            ]
        ]
    },
    {
        "id": "15ff2b5ab6294076",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Stop",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "7c543fc4b7404b6e"
            ]
        ]
    },
    {
        "id": "470d00450056a0c0",
        "type": "switch",
        "z": "2f5fe38677691ef5",
        "name": "",
        "property": "payload.REWARD_LEVEL",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CLIMBING",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BRONZE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SILVER",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GOLD",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 590,
        "y": 1680,
        "wires": [
            [
                "eb7d031dd527ffbe"
            ],
            [
                "866357594af8a70d",
                "8b7ed18eb010e02e"
            ],
            [
                "9e4ab81204879029",
                "67b590a02fe8af83"
            ],
            [
                "983b782435075828",
                "f412f3ca5db13aad"
            ]
        ]
    },
    {
        "id": "0e0bf7cbef1ba72a",
        "type": "ui_table",
        "z": "2f5fe38677691ef5",
        "group": "141e6c203a344dec",
        "name": "Climbing",
        "order": 1,
        "width": "5",
        "height": "6",
        "columns": [
            {
                "field": "USER_ID",
                "title": "Climbing",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "TOTAL",
                "title": "Points",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1140,
        "y": 1560,
        "wires": []
    },
    {
        "id": "eb7d031dd527ffbe",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data for Table",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"updateOrAddData\",\t    \"arguments\": [\t        [\t            payload\t        ],\t        true\t    ],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1560,
        "wires": [
            [
                "0e0bf7cbef1ba72a"
            ]
        ]
    },
    {
        "id": "ef5d2e03bccb7b46",
        "type": "ui_table",
        "z": "2f5fe38677691ef5",
        "group": "141e6c203a344dec",
        "name": "Bronze",
        "order": 2,
        "width": "5",
        "height": "6",
        "columns": [
            {
                "field": "USER_ID",
                "title": "Bronze",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "TOTAL",
                "title": "Points",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1140,
        "y": 1640,
        "wires": []
    },
    {
        "id": "a61c5c3fe896d160",
        "type": "ui_table",
        "z": "2f5fe38677691ef5",
        "group": "141e6c203a344dec",
        "name": "Silver",
        "order": 3,
        "width": "5",
        "height": "6",
        "columns": [
            {
                "field": "USER_ID",
                "title": "Silver",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "TOTAL",
                "title": "Points",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1130,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e0dfa308adfaf9d6",
        "type": "ui_table",
        "z": "2f5fe38677691ef5",
        "group": "141e6c203a344dec",
        "name": "Gold",
        "order": 4,
        "width": "5",
        "height": "6",
        "columns": [
            {
                "field": "USER_ID",
                "title": "Gold",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "TOTAL",
                "title": "Points",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1130,
        "y": 1800,
        "wires": []
    },
    {
        "id": "866357594af8a70d",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data for Table",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"updateOrAddData\",\t    \"arguments\": [\t        [\t            payload\t        ],\t        true\t    ],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1640,
        "wires": [
            [
                "ef5d2e03bccb7b46"
            ]
        ]
    },
    {
        "id": "9e4ab81204879029",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data for Table",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"updateOrAddData\",\t    \"arguments\": [\t        [\t            payload\t        ],\t        true\t    ],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1720,
        "wires": [
            [
                "a61c5c3fe896d160"
            ]
        ]
    },
    {
        "id": "983b782435075828",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data for Table",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"updateOrAddData\",\t    \"arguments\": [\t        [\t            payload\t        ],\t        true\t    ],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1800,
        "wires": [
            [
                "e0dfa308adfaf9d6"
            ]
        ]
    },
    {
        "id": "8c2659b4b5b54e60",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Clear",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 850,
        "y": 1900,
        "wires": [
            [
                "0e0bf7cbef1ba72a",
                "ef5d2e03bccb7b46",
                "a61c5c3fe896d160",
                "e0dfa308adfaf9d6",
                "530ad49d80ce77ba"
            ]
        ]
    },
    {
        "id": "dc4d933baa9dad8d",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Set \"USER_ID\" as Index",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "index",
        "payload": "USER_ID",
        "payloadType": "str",
        "x": 570,
        "y": 1940,
        "wires": [
            [
                "4b3b72fc255c41a5"
            ]
        ]
    },
    {
        "id": "4b3b72fc255c41a5",
        "type": "function",
        "z": "2f5fe38677691ef5",
        "name": "table paramter",
        "func": "msg.ui_control = { tabulator: {} };\n\n//workaround that buttos can`t deliver empty strings\nif (msg.payload.hasOwnProperty('payload')) {\n    msg.payload = msg.payload.payload;\n}\n\nmsg.ui_control.tabulator[msg.topic] = msg.payload;\ndelete msg.topic;\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1940,
        "wires": [
            [
                "0e0bf7cbef1ba72a",
                "ef5d2e03bccb7b46",
                "a61c5c3fe896d160",
                "e0dfa308adfaf9d6",
                "530ad49d80ce77ba"
            ]
        ]
    },
    {
        "id": "8b7ed18eb010e02e",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Delete Row",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"deleteRow\",\t    \"arguments\": [payload.USER_ID],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1600,
        "wires": [
            [
                "0e0bf7cbef1ba72a"
            ]
        ]
    },
    {
        "id": "67b590a02fe8af83",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Delete Row",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"deleteRow\",\t    \"arguments\": [payload.USER_ID],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1680,
        "wires": [
            [
                "ef5d2e03bccb7b46",
                "0e0bf7cbef1ba72a"
            ]
        ]
    },
    {
        "id": "f412f3ca5db13aad",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Delete Row",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"deleteRow\",\t    \"arguments\": [payload.USER_ID],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1760,
        "wires": [
            [
                "a61c5c3fe896d160",
                "ef5d2e03bccb7b46",
                "0e0bf7cbef1ba72a"
            ]
        ]
    },
    {
        "id": "0461927d19acfcc7",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Clear",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 610,
        "y": 1480,
        "wires": [
            [
                "5ed9eddfc32d9504"
            ]
        ]
    },
    {
        "id": "0d69ebe3c804662e",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Initalize Dropdown",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "b1664d96b9991992",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Click to start",
        "info": "Click \"Reward Level\" to start",
        "x": 70,
        "y": 1640,
        "wires": []
    },
    {
        "id": "37b08b6319a113cf",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Click to start",
        "info": "",
        "x": 70,
        "y": 1040,
        "wires": []
    },
    {
        "id": "77778914ef61406a",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Click to start",
        "info": "",
        "x": 70,
        "y": 1420,
        "wires": []
    },
    {
        "id": "bfe063448086b678",
        "type": "ui_button",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "69f7632edb1a2651",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Random Purchase",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "bf1d7ada4968f7dc",
                "5af2428bd7e7928b"
            ]
        ]
    },
    {
        "id": "523018e66c11f3ab",
        "type": "ui_text",
        "z": "2f5fe38677691ef5",
        "group": "69f7632edb1a2651",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "who buys what",
        "label": "",
        "format": "{{msg.payload.user}} buys {{msg.payload.product}} ",
        "layout": "col-center",
        "className": "",
        "x": 920,
        "y": 320,
        "wires": []
    },
    {
        "id": "df260058f66e8a06",
        "type": "subflow:788f5c6dd1a16320",
        "z": "2f5fe38677691ef5",
        "name": "",
        "x": 440,
        "y": 2080,
        "wires": [
            [
                "0daa7b5052f34ee5",
                "6cb1a054454ef805"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "b286eaa082941b55",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Special Promotion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://ksqldb-server:8088/query-stream",
                "vt": "str"
            },
            {
                "p": "queryName",
                "v": "specialPromo",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sql\":\"select * from promotion_french_poodle emit changes;\",\"properties\":{\"ksql.streams.auto.offset.reset\":\"latest\"}}",
        "payloadType": "str",
        "x": 170,
        "y": 2080,
        "wires": [
            [
                "df260058f66e8a06"
            ]
        ]
    },
    {
        "id": "4ce720a790452199",
        "type": "inject",
        "z": "2f5fe38677691ef5",
        "name": "Stop",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 2120,
        "wires": [
            [
                "df260058f66e8a06"
            ]
        ]
    },
    {
        "id": "530ad49d80ce77ba",
        "type": "ui_table",
        "z": "2f5fe38677691ef5",
        "group": "4a9750d76458eeff",
        "name": "Special Promotion",
        "order": 1,
        "width": "10",
        "height": "5",
        "columns": [
            {
                "field": "USER_ID",
                "title": "Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "PRODUCTS",
                "title": "Products",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "PROMOTION_NAME",
                "title": "Promotion",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1090,
        "y": 2060,
        "wires": []
    },
    {
        "id": "0daa7b5052f34ee5",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data for Table",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"command\": \"updateOrAddData\",\t    \"arguments\": [\t        [\t            payload\t        ],\t        true\t    ],\t    \"returnPromise\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2060,
        "wires": [
            [
                "530ad49d80ce77ba"
            ]
        ]
    },
    {
        "id": "a4a28e19cc47ec6c",
        "type": "ui_audio",
        "z": "2f5fe38677691ef5",
        "name": "",
        "group": "5bafb853165113e1",
        "voice": "Alex",
        "always": "",
        "x": 1060,
        "y": 2100,
        "wires": []
    },
    {
        "id": "6cb1a054454ef805",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "Prep Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Special Promotion for \" & payload.USER_ID",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 2100,
        "wires": [
            [
                "a4a28e19cc47ec6c"
            ]
        ]
    },
    {
        "id": "05cd37d64260aa5a",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Click to start",
        "info": "Click \"Reward Level\" to start",
        "x": 70,
        "y": 2040,
        "wires": []
    },
    {
        "id": "c584cdc03086d732",
        "type": "ui_audio",
        "z": "2f5fe38677691ef5",
        "name": "Say it in Mandarin",
        "group": "5bafb853165113e1",
        "voice": "Google 國語（臺灣）",
        "always": true,
        "x": 1130,
        "y": 940,
        "wires": []
    },
    {
        "id": "500f37efcb3bdf16",
        "type": "ui_audio",
        "z": "2f5fe38677691ef5",
        "name": "Say it in English",
        "group": "5bafb853165113e1",
        "voice": "Google UK English Female",
        "always": true,
        "x": 1120,
        "y": 980,
        "wires": []
    },
    {
        "id": "f6d501ab0b02f3bd",
        "type": "ui_dropdown",
        "z": "2f5fe38677691ef5",
        "name": "",
        "label": "Language",
        "tooltip": "",
        "place": "Select option",
        "group": "5bafb853165113e1",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Cantonese",
                "value": "cantonese",
                "type": "str"
            },
            {
                "label": "English",
                "value": "english",
                "type": "str"
            },
            {
                "label": "Mandarin",
                "value": "mandarin",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "2a23a4c47a7f5697"
            ]
        ]
    },
    {
        "id": "2a23a4c47a7f5697",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "coffeeMsgLang",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a32e4deacbed5f",
        "type": "switch",
        "z": "2f5fe38677691ef5",
        "name": "switch language",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cantonese",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mandarin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "english",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 920,
        "y": 940,
        "wires": [
            [
                "352d0ffc90b9c5f9"
            ],
            [
                "c584cdc03086d732"
            ],
            [
                "500f37efcb3bdf16"
            ]
        ]
    },
    {
        "id": "c9b3cff0ad0936d8",
        "type": "ui_dropdown",
        "z": "2f5fe38677691ef5",
        "name": "",
        "label": "Canned Message",
        "tooltip": "",
        "place": "Select option",
        "group": "5bafb853165113e1",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Free coffee next time",
                "type": "str"
            },
            {
                "label": "",
                "value": "下一杯免費",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "8afaa42bada04e9e",
                "97da1cabef9d39e3"
            ]
        ]
    },
    {
        "id": "8afaa42bada04e9e",
        "type": "change",
        "z": "2f5fe38677691ef5",
        "name": "clear",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "8c954ad6e2287a3c"
            ]
        ]
    },
    {
        "id": "346ed27897735c5b",
        "type": "comment",
        "z": "2f5fe38677691ef5",
        "name": "Message to Customer",
        "info": "",
        "x": 160,
        "y": 580,
        "wires": []
    }
]